
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/customStyleLayout.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="c-subheader justify-content-between px-3 row">
        <div class="col-md-8">
            <ol class="breadcrumb border-0 m-0 px-0 px-md-3">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item"><a href="#">Admin</a></li>
                <li class="breadcrumb-item">Kho vật tư</li>
                <li class="breadcrumb-item active">Nhập xuất vật tư</li>
            </ol>
        </div>
        <div class="col-md-4">
            <div class="tab-action" style="">
                <ul class="nav nav-pills">
                    <li class="import"><a class="btn btn-default" href="/GoodsReceivedNotes">Phiếu nhập vật tư</a></li>
                    <li class="export"><a class="btn btn-default" href="/GoodsDeliveryNotes">Phiếu xuất vật tư</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="">
        <div class="tab-content">
            @RenderBody()
        </div>
    </div>
</div>
<style>
.tab-content {
    background: white;
    height: 600px;
    border-radius: 5px;
}
.title-tab{
    text-align:center;
    color: whitesmoke;
}
i.fas.fa-backspace {
    color: #eb0000 !important;
}
i.fas.fa-search {
    font-size: 20px;
    padding-top: 5px;
    padding-right: 10px;
}
#search {
    color: black;
}
</style>

@RenderSection("Scripts", required: false)