@model GaraManagement.Models.Material

@{
    ViewData["Title"] = "Sửa vật tư";
    var image = @ViewBag.image;
}

<div class="row divmodal">
    <form asp-action="Edit" id="formEdit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(m => m.Id)
        <div class="row">
            <div class="col-md-8">
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="IdType" class="control-label">Loại vật tư</label>
                    </div>
                    <div class="col-md-7">
                        <select asp-for="IdType" class="form-control" asp-items="ViewBag.TypeName"></select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        <label asp-for="IdCarModel" class="control-label">Dòng xe</label>
                    </div>
                    <div class="col-sm-7">
                        <select id="select-carmodel" asp-for="IdCarModel" class="form-control" asp-items="ViewBag.CarName"></select>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="Name" class="control-label" name="Name"></label>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="Unit" class="control-label"></label>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="Unit" class="form-control" />
                        <span asp-validation-for="Unit" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-4">
                        <label asp-for="Price" class="control-label" name="Name"></label>
                    </div>
                    <div class="col-sm-7">
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="Amount" class="control-label"></label>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="Description" class="control-label"></label>
                    </div>
                    <div class="col-md-7">
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="CreateAt" class="form-control" />
                <input type="hidden" asp-for="UpdateAt" class="form-control" />
            </div>
            <div class="col-md-4">
                <div class="row form-group">
                    <div class="col-md-2">
                        <label asp-for="Image" class="control-label"></label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <input asp-for="ImageFile" accept="image/*" id="uploadFile">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <img class="image-edit" src="@image" alt="Alternate Text" />
                    </div>
                </div>
                @Html.HiddenFor(m => m.Image)

                @*<div class="btn-action">
            <button icon-name="action-cancel" name="close" class="btn btn-default closeBtn" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-warning" value="Save" />
        </div>*@
            </div>
        </div>
    </form>
</div>

<script>
    $('#uploadFile').change(function (e) {
        var path = "../assets/img/" + e.target.files[0].name;
        $(".image-edit").attr("src", path);

        $('#select-carmodel').select2({
            dropdownParent: $('#editModal')
        });
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section actions {
    <div class="modal-actions col-md-offset-3 col-md-9">
        <button icon-name="action-cancel" name="close" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
        <button icon-name="action-save" name="submit" form="formEdit" class="btn btn-warning" id="saveBtn">
            Save
        </button>
    </div>
}
