@model GaraManagement.Models.Employee

@{
    ViewData["Title"] = "Thêm mới nhân viên";
}

<div class="row divmodal">
    <form asp-action="Create" id="formCreate" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="Name" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="DateOfBirth" class="form-control" />
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="ContractStartDate" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="ContractStartDate" class="form-control" />
                        <span asp-validation-for="ContractStartDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="Salary" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Salary" min=0 class="form-control" />
                        <span asp-validation-for="Salary" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="Gender" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        <select asp-for="Gender" asp-items="Enum.GetValues(typeof(GenderType)).Cast<GenderType>().Select(o => new SelectListItem { Text = o.ToString(), Value = ((int)o).ToString() })" class="form-control"></select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="Phone" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="Address" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="IdentityCardNumber" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="IdentityCardNumber" class="form-control" />
                        <span asp-validation-for="IdentityCardNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="Department" class="control-label"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Department" class="form-control" />
                        <span asp-validation-for="Department" class="text-danger"></span>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <label asp-for="Image" class="control-label"></label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <input asp-for="ImageFile" accept="image/*" />
                    </div>
                </div>
                
                <div class="row form-group">
                    <div class="col-md-12">
                        <img class="image-edit" src="" alt="Alternate Text" />
                    </div>
                </div>
                @*<div class="row form-group">
                    <div class="col-md-12">
                        <input type="hidden" asp-for="Image" class="form-control image-input">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>*@
                @*<div class="btn-action">
            <button icon-name="action-cancel" name="close" class="btn btn-default closeBtn" data-dismiss="modal">Close</button>
            <input id="submit-btn" type="submit" class="btn btn-success" value="Save" />
        </div>*@
            </div>
        </div>

    </form>
</div>
<script src="~/assets/js/core/jquery.min.js"></script>
<script>
    $('input[type="file"]').change(function (e) {
        var path = "../assets/img/" + e.target.files[0].name;
        $(".image-edit").attr("src", path);
        //$('.image-input').attr('value', path);
    });

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section actions {
    <div class="modal-actions col-md-offset-3 col-md-9">
        <button icon-name="action-cancel" name="close" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
        <button icon-name="action-save" name="submit" form="formCreate" class="btn btn-success">
            Create
        </button>
    </div>
}
