@model GaraManagement.Models.Car

@{
    ViewData["Title"] = "Sửa thông tin xe";

    var image = @ViewBag.image;
}

    <div class="row divmodal">
       
        <form asp-action="Edit" id="formEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-md-6">
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label asp-for="IdCustomer" class="control-label">Customer</label>
                        </div>
                        <div class="col-sm-8">
                            <select id="select-customer" class="custom-select" asp-for="IdCustomer"  asp-items="ViewBag.Customer"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label asp-for="IdCarModel" class="control-label">Dòng xe</label>
                        </div>
                        <div class="col-sm-8">
                            <select id="select-carmodel" class="custom-select" asp-for="IdCarModel" asp-items="ViewBag.CarModel"></select>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label asp-for="LicensePlates" class="control-label" name="Name"></label>
                        </div>
                        <div class="col-sm-8">
                            <input asp-for="LicensePlates" class="form-control" />
                            <span asp-validation-for="LicensePlates" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label asp-for="Color" class="control-label" name="Name"></label>
                        </div>
                        <div class="col-sm-8">
                            <input asp-for="Color" class="form-control" />
                            <span asp-validation-for="Color" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-4">
                            <label asp-for="Note" class="control-label" name="note"></label>
                        </div>
                        <div class="col-sm-8">
                            <input asp-for="Note" class="form-control" />
                            <span asp-validation-for="Note" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @* Image *@
                <div class="col-md-5">
                    <div class="row form-group">
                        <div class="col-sm-2">
                            <label asp-for="Image" class="control-label"></label>
                        </div>
                        <div class="col-md-4">
                            <input asp-for="ImageFile" accept="image/*" id="uploadFile">
                        </div>
                    </div>
                    <div class="row thumbnail">
                        <img class="image-edit" src="@image" alt="Logo" />
                    </div>
                    @Html.HiddenFor(m => m.Image)
                </div>
            </div>
        </form>
    </div>

<script>
    $('#uploadFile').change(function (e) {
        var path = "../assets/img/logoCar/" + e.target.files[0].name;
        $(".image-edit").attr("src", "../" + path);
    });


    $('#select-customer').select2({
        dropdownParent: $('#editModal')
    });
    $('#select-carmodel').select2({
        dropdownParent: $('#editModal')
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section actions {
    <div class="modal-actions col-md-offset-3 col-md-9">
        <button icon-name="action-cancel" name="close" class="btn btn-default" data-dismiss="modal">
            Đóng
        </button>
        <button icon-name="action-save" name="submit" form="formEdit" class="btn btn-success">
            Cập nhật
        </button>
    </div>
}
