/* Xử lý style cho bảng*/
.action-button {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #252830;
}

tr:nth-child(even) {
    background-color: #292d36;
}

.action-button > .btn {
    padding: 5px 8px;
}

thead > tr > th {
    font-size: 18px;
    color: aliceblue;
}
thead > tr {
    background-image: linear-gradient(to right,#0ebee5, #10557d, #3481e8);
}
.nav-item:visited, .nav-item:focus {
    background-color: #29a6c8 !important;
    display: block;
}

.custyle {
    max-width: 100%;
    margin: 0 auto;
}
/*Xử lý hiệu ứng menu chung*/
.sidebar-wrapper .nav li a {
    border-left: 5px solid transparent;
    margin:0;
}
.sidebar-wrapper .nav li{
    border-bottom: 1px solid;
    margin: 5px 15px;
}
.sidebar-wrapper .nav .nav li {
    border: none;
}
.sidebar-wrapper .nav li a:hover {
    border-left-color: #29a6c8;
}
.sidebar-wrapper .nav .nav {
    overflow: hidden;
    transition: max-height 0.5s;
    max-height: 0;
    margin: 0;
}
/*.sidebar-wrapper .nav .nav li a {*/
    /*padding-left: 50px;*/
    /*margin:0 15px;
}*/
.sidebar-wrapper .nav li a span {
    transform: rotate(-90deg);
    transition: transform 0.5s;
    position: absolute;
    top: 8px;
    right: 0;
}
/* Xử lý submenu nhân viên*/
.nav .subUser.show {
    max-height:6em;
    margin-top: 5px;
}
.sidebar-wrapper .nav li a .user.rotate {
    transform: rotate(0deg);
}

/*Xử lý icon*/
i.fas.fa-user-cog {
    font-size: 20px;
}
i.fas.fa-backspace {
    font-size: 20px;
    padding-top: 12px;
    color:white;
}
i.fas.fa-backspace:hover {
    background: none;
    color: brown;
}
.fas {
    font-size: 20px;
}
i.far.fa-trash-alt {
    font-size: 20px;
    margin-right: 10px;
    color:#ff3b3b;
}
i.fas.fa-edit {
    margin-right: 5px;
    color: #fd9500;
}
/* Xử lý submenu khách hàng*/
.nav .subCustomer.show {
    max-height: 8em;
    margin-top: 5px;
}
.sidebar-wrapper .nav li a .customer.rotate {
    transform: rotate(0deg);
}

/* Xử lý submenu sửa chữa*/
.nav .subRepair.show {
    max-height: 15em;
    margin-top: 5px;
}

.sidebar-wrapper .nav li a .repair.rotate {
    transform: rotate(0deg);
}
/* Xử lý submenu kho vật tư*/
.nav .subWarehouse.show {
    max-height: 15em;
    margin-top: 5px;
}

.sidebar-wrapper .nav li a .warehouse.rotate {
    transform: rotate(0deg);
}

/*--- Modal -----*/
#createModal {
    position: absolute;
}

.modal-dialog {
    max-width: 60%;
}

.modal-footer {
    display: none;
}

.btn-action {
    text-align: right;
}

form{
    margin: 0;
}
/* fiel image */
.image-field{
    border-radius:50%;
    width:45px;
    height:45px;
}
.image-edit {
    margin-top: 30px;
    width: 120px;
    height: 120px;
}
.delete .image-detail img {
    height: 60%;
}
/* trang detail*/
.view-detail {
    margin-left: 100px;
    color: floralwhite;
}
.footer-detail{
    margin-left:100px;
}
dt.col-sm-2 {
    padding: 10px;
}
dd.col-sm-10 {
    padding: 10px;
}
.image-detail {
    width: 400px;
    height: 300px;
}
.image-detail img{
    height:100%;
}
/* end detail*/
.input-group{
    max-width:30%;
    margin-left:50px;
}
.input-group form {
    width: 80%;
}

/* View delete*/
.view-delete{
    width:60%;
    margin:0 auto;
    color: whitesmoke;
}
.modal-dialog.delete {
    width: 30%;
}
.delete{
    height:250px;
}
/*=========*/
/* View car*/
img.image-logo {
    width: 100%;
    height: 100%;
}
.btn-more {
    border-radius: 25px;
    padding: 3px 10px;
    background-color: #ff5f2f;
}
.btn-more:hover, .btn-more:focus {
    background-color: #c43a00;
}
#drop-menu {
    top: 45px !important;
    left: -80px !important;
    min-width: 0;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #6d8ee3;
}

.dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:focus {
    background-color: #4c629b;
}
.container-fluid.loop-card {
    padding: 0;
}
#formCreate{
    width:100%;
}
#formEdit {
    width: 100%;
}
.create-edit .control-label {
    color: whitesmoke;
}
.create-edit .btn-action {
    text-align: left;
    margin-bottom: 30px;
}
.create-edit{
    margin: 0 150px;
}
.create-edit #uploadFile {
    color: whitesmoke;
}
.thumbnail {
    background-color:white;
    text-align: center;
    vertical-align: middle;
    position: relative;
    height: 200px;
    width: 200px;
    padding: 0;
    margin-left:100px;
    box-shadow: 0px 0px 10px 5px red;
}
.create-edit .image-edit {
    position: inherit;
    width: 80%;
    height: 80%;
    margin:auto;
}
.create-edit .form-control{
    color:whitesmoke;
}
.create-edit h2{
    color:whitesmoke;
}
#search{
    color:whitesmoke;
}
/*------------*/
/*----- Service --------*/
.create {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    background: whitesmoke;
}
.createPartial {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.createPartial .form-control {
    background-color: #dcdcdc;
}
.createPartial .form-control:focus{
    background-color: white;
}
.create .action-button {
    display: block;
    margin-top: 30px;
}
.create .action-button .btn-outline-success:hover {
    color: #fff;
    background-color: #4caf50;
    box-shadow: none;
}
.create .action-button .btn-outline-warning:hover {
    color: #fff;
    background-color: #ff9800;
    box-shadow: none;
}
.create .action-button .btn-outline-danger:hover {
    color: #fff;
    background-color: #e33145;
    box-shadow: none;
}
.create .action-button .btn-outline-primary:hover {
    color: #fff;
    background-color: #9c27b0;
    box-shadow: none;
}
.btn[disabled] {
    cursor: not-allowed;
    opacity: .65;
}