/* Xử lý style cho bảng*/
.action-button {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #252830;
}

tr:nth-child(even) {
    background-color: #292d36;
}

.action-button > .btn {
    padding: 5px 8px;
}

thead > tr > th {
    font-size: 18px;
    color: aliceblue;
}
thead > tr {
    background-image: linear-gradient(to right,#0ebee5, #10557d, #3481e8);
}
.nav-item:visited, .nav-item:focus {
    background-color: #29a6c8 !important;
    display: block;
}

/*Xử lý hiệu ứng menu chung*/
.sidebar-wrapper .nav li a {
    border-left: 5px solid transparent;
    margin:0;
}
.sidebar-wrapper .nav li{
    border-bottom: 1px solid;
    margin: 5px 15px;
}
.sidebar-wrapper .nav .nav li {
    border: none;
}
.sidebar-wrapper .nav li a:hover {
    border-left-color: #29a6c8;
}
.sidebar-wrapper .nav .nav {
    overflow: hidden;
    transition: max-height 0.5s;
    max-height: 0;
    margin: 0;
}
/*.sidebar-wrapper .nav .nav li a {*/
    /*padding-left: 50px;*/
    /*margin:0 15px;
}*/
.sidebar-wrapper .nav li a span {
    transform: rotate(-90deg);
    transition: transform 0.5s;
    position: absolute;
    top: 8px;
    right: 0;
}
/* Xử lý submenu nhân viên*/
.nav .subUser.show {
    max-height:6em;
    margin-top: 5px;
}
.sidebar-wrapper .nav li a .user.rotate {
    transform: rotate(0deg);
}

/*Xử lý icon*/
i.fas.fa-user-cog {
    font-size: 20px;
}
i.fas.fa-backspace {
    font-size: 20px;
    padding-top: 12px;
    color:white;
}
i.fas.fa-backspace:hover {
    background: none;
    color: brown;
}
    /* Xử lý submenu khách hàng*/
    .nav .subCustomer.show {
        max-height: 8em;
        margin-top: 5px;
    }

.sidebar-wrapper .nav li a .customer.rotate {
    transform: rotate(0deg);
}
/* Xử lý submenu sửa chữa*/
.nav .subRepair.show {
    max-height: 15em;
    margin-top: 5px;
}

.sidebar-wrapper .nav li a .repair.rotate {
    transform: rotate(0deg);
}
/* Xử lý submenu kho vật tư*/
.nav .subWarehouse.show {
    max-height: 15em;
    margin-top: 5px;
}

.sidebar-wrapper .nav li a .warehouse.rotate {
    transform: rotate(0deg);
}

/*--- Modal -----*/
#createModal {
    position: absolute;
}

.modal-dialog {
    max-width: 60%;
}

.modal-footer {
    display: none;
}

.btn-action {
    text-align: right;
}

form{
    margin: 0;
}
/* fiel image */
.image-field{
    border-radius:50%;
    width:45px;
    height:45px;
}
.image-edit {
    margin-top: 30px;
    width: 120px;
    height: 120px;
}

/* trang detail*/
.view-detail{
    margin-left: 100px;
    color: floralwhite;
}
.footer-detail{
    margin-left:100px;
}
dt.col-sm-2 {
    padding: 10px;
}
dd.col-sm-10 {
    padding: 10px;
}
.image-detail {
    width: 400px;
    height: 300px;
}
.image-detail img{
    height:100%;
}
/* end detail*/
.input-group{
    max-width:30%;
    margin-left:50px;
}
.input-group form {
    width: 80%;
}