/*xử lý chung*/
.title {
    color: #3b3b3b;
    margin-bottom: 10px !important;
}
.logo img {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 55px;
}
.pl-3, .px-3{
    padding: 0 !important;
}
.c-subheader{
    margin-bottom: 8px;
}
/* Xử lý style cho bảng*/
.table-area {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
div#dtTable_wrapper {
    width: 100%;
}
div#dtTable_length {
    display: none;
}
div#dtTable_filter {
    display: none;
}
.table {
    border-radius: 6px;
    overflow: hidden;
    perspective: 1px;
}
.action-button {
    text-align: center;
}
.back-btn{
    margin:15px;
}
.col-action {
    text-align: center;
}
tr:nth-child(odd) {
    background-color: #c8ced3;
}

tr:nth-child(even) {
    background-color: #f0f3f5;
}

.action-button > .btn {
    padding: 5px 8px;
}

thead > tr > th {
    font-size: 18px;
    color: aliceblue;
}
thead > tr {
    background: #748aca !important;
}
.nav-item:visited, .nav-item:focus {
    background-color: #29a6c8 !important;
    display: block;
}

.custyle {
    max-width: 100%;
    margin: 0 auto;
}
/*<!====== Xử lý dataTable ========>*/

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
    bottom: .5em;
    right: .1em;
}
/*====== End dataTable ===============*/
/*Xử lý hiệu ứng menu chung*/
.sidebar-wrapper .nav li a {
    border-left: 5px solid transparent;
    margin:0;
}
.sidebar-wrapper .nav li{
    border-bottom: 1px solid;
    margin: 5px 5px 5px 15px;
}
.sidebar-wrapper .nav .nav li {
    border: none;
}
.sidebar-wrapper .nav li a:hover {
    border-left-color: #29a6c8;
}
.sidebar-wrapper .nav .nav {
    overflow: hidden;
    transition: max-height 0.5s;
    max-height: 0;
    margin: 0;
}
/*.sidebar-wrapper .nav .nav li a {*/
    /*padding-left: 50px;*/
    /*margin:0 15px;
}*/
.sidebar-wrapper .nav li a span {
    transform: rotate(-90deg);
    transition: transform 0.5s;
    position: absolute;
    top: 8px;
    right: 0;
}
/* Xử lý submenu nhân viên*/
.nav .subUser.show {
    max-height:6em;
    margin-top: 5px;
}
.sidebar-wrapper .nav li a .user.rotate {
    transform: rotate(0deg);
}

/*Xử lý icon*/
i.fas.fa-user-cog {
    
}
i.fas.fa-backspace {
    font-size: 20px;
    padding-top: 8px;
    margin-right:10px;
    color: #e74747;
}
i.fas.fa-backspace:hover {
    background: none;
    color: brown;
}
.fas {
    font-size: 20px;
}
i.fas.fa-car{
    font-size:15px;
}
i.far.fa-trash-alt {
    font-size: 20px;
    margin-right: 10px;
    color: #ff3b3b;
}
i.fas.fa-edit {
    margin-right: 5px;
    color: #fd9500;
}
i.fas.fa-tools {
    font-size: 20px;
    margin-right: 10px;
    color: #435ff9;
}
/* Xử lý submenu khách hàng*/
.nav .subCustomer.show {
    max-height: 8em;
    margin-top: 5px;
}
.sidebar-wrapper .nav li a .customer.rotate {
    transform: rotate(0deg);
}

/* Xử lý submenu sửa chữa*/
.nav .subRepair.show {
    max-height: 15em;
    margin-top: 5px;
}

.sidebar-wrapper .nav li a .repair.rotate {
    transform: rotate(0deg);
}
/* Xử lý submenu kho vật tư*/
.nav .subWarehouse.show {
    max-height: 15em;
    margin-top: 5px;
}

.sidebar-wrapper .nav li a .warehouse.rotate {
    transform: rotate(0deg);
}
/* Xử lý submenu Tài khoản*/
.nav .subAccount.show {
    max-height: 8em;
    margin-top: 5px;
}

.sidebar-wrapper .nav li a .account.rotate {
    transform: rotate(0deg);
}

/*--- Modal -----*/
#createModal {
    position: absolute;
}
#editModal {
    position: absolute;
}
.modal-dialog {
    max-width: 60%;
}

/*.modal-footer {
    display: none;
}*/

.btn-action {
    text-align: right;
}
body.modal-open{
    padding:0 !important;
}
form {
    margin: 0;
}
/* fiel image */
.image-field{
    border-radius:50%;
    width:45px;
    height:45px;
}
.image-edit {
    margin-top: 30px;
    width: 120px;
    height: 120px;
}
.delete .image-detail img {
    height: 60%;
}
/* trang detail*/
.view-detail {
    margin-left: 100px;
}
.footer-detail{
    margin-left:100px;
}
dt.col-sm-2 {
    padding: 10px;
}
dd.col-sm-10 {
    padding: 10px;
}
.image-detail {
    width: 400px;
    height: 300px;
}
.image-detail img{
    height:100%;
}
/* end detail*/
.input-group {
    max-width: 30%;
    margin: 3px 10px;
}
.input-group form {
    width: 80%;
}

/* View delete*/
.view-delete{
    width:60%;
    margin:0 auto;
}
.modal-dialog.delete {
    width: 30%;
}
.delete{
    height:250px;
}
/*=========*/
/* View car*/
img.image-logo {
    width: 100%;
    height: 100%;
}
.btn-more {
    border-radius: 25px;
    padding: 0px 5px;
    background-color: #ff5f2f;
}
.btn-more:hover, .btn-more:focus {
    background-color: #c43a00;
}
#drop-menu {
    top: 45px !important;
    left: -80px !important;
    min-width: 0;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #6d8ee3;
}

.dropdown-menu .dropdown-item:active, .dropdown-menu .dropdown-item:focus {
    background-color: #4c629b;
}
.container-fluid.loop-card {
    padding: 0;
    margin:0;
}
#formCreate{
    width:100%;
}
#formEdit {
    width: 100%;
}

.create-edit .btn-action {
    text-align: left;
    margin-bottom: 30px;
}
.create-edit{
    margin: 0 150px;
}
.create-edit #uploadFile {
    color: whitesmoke;
}
.thumbnail {
    background-color: white;
    text-align: center;
    vertical-align: middle;
    position: relative;
    height: 200px;
    width: 200px;
    padding: 0;
    margin-left: 100px;
    border: 2px solid #47afc4;
}
.create-edit .image-edit {
    position: inherit;
    width: 80%;
    height: 80%;
    margin:auto;
}

#search{
    color:#3b3b3b;
}
.form-control{
    background: whitesmoke;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}
    .form-control:focus {
        border-bottom: 2px solid deepskyblue;
    }

/*------------*/
/*----- Service --------*/
.create {
    width: 100%;
    margin: 3px 0;
    border-radius: 5px;
    background: whitesmoke;
}
.createPartial {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.createPartial .form-control {
    background-color: #e9e9e9;
}
.createPartial .form-control:focus{
    background-color: white;
}
.create .action-button {
    display: block;
    margin-top: 30px;
}
.create .action-button .btn-outline-success:hover {
    color: #fff;
    background-color: #4caf50;
    box-shadow: none;
}
.create .action-button .btn-outline-warning:hover {
    color: #fff;
    background-color: #ff9800;
    box-shadow: none;
}
.create .action-button .btn-outline-danger:hover {
    color: #fff;
    background-color: #e33145;
    box-shadow: none;
}
.create .action-button .btn-outline-primary:hover {
    color: #fff;
    background-color: #9c27b0;
    box-shadow: none;
}
.btn[disabled] {
    cursor: not-allowed;
    opacity: .65;
}

/* Checkbox*/
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #e97021;
}
.custom-control-label::before {
    background-color: #9ab7ff;
}

/*repair*/
