@model GaraManagement.Models.Customer

@{
    ViewData["Title"] = "Thêm mới khách hàng";
}

<div class="row divmodal">
    <form asp-action="Create" id="formCreate">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label asp-for="Name" class="control-label" name="Name"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label asp-for="DateOfBirth" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-4">
                <label asp-for="Gender" class="control-label"></label>
            </div>
            <div class="col-md-8">
                <select asp-for="Gender" asp-items="Enum.GetValues(typeof(GenderType)).Cast<GenderType>().Select(o => new SelectListItem { Text = o.ToString(), Value = ((int)o).ToString() })" class="form-control"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label asp-for="Phone" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label asp-for="Address" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-sm-4">
                <label asp-for="IdentityCardNumber" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="IdentityCardNumber" class="form-control" />
                <span asp-validation-for="IdentityCardNumber" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@section actions {
    <div class="modal-actions col-md-offset-3 col-md-9">
        <button icon-name="action-cancel" name="close" class="btn btn-sm btn-default" data-dismiss="modal">
            Đóng
        </button>
        <button icon-name="action-save" name="submit" form="formCreate" class="btn btn-sm btn-success">
            Thêm mới
        </button>
    </div>
}
